.grid {
  margin: 5px;
}

.col {
  padding: 5px;
}

.card-pokemon {
  display: grid;
  justify-content: center;
  padding-top: 20px;
  border-radius: 20px;
  text-align: center;
  width: 100%;
  cursor: pointer;
}

.card-pokemon div {
  margin: 0;
  width: 120px;
  height: 120px;
  background-color: #fff;
}

.card-pokemon h3 {
  margin: 0;
  margin-top: 10px;
  font-weight: 700;
}

.card-pokemon p {
  margin: 0;
  margin-bottom: 20px;
}

.grass {
  background-color: #c4e3d4;
}

.fire {
  background-color: #ebbcb4;
}
